# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Environment variables & Databases
.env
.env.*
!.env.example
*.db
storage/

# Node
node_modules/
dist/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db
g.sh