fastapi==0.116.1
uvicorn==0.35.0
sqlalchemy==2.0.43
pydantic-settings==2.10.1
python-jose[cryptography]==3.5.0
python-multipart==0.0.20
slowapi==0.1.9
psycopg2-binary==2.9.9  
email-validator==2.2.0
argon2-cffi==25.1.0
